  <?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"

        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "biz.ahab.photo"
        version     = "1.0.0"
        versionCode = "10" >

        <!-- versionCode is optional and Android only -->

        <preference name="phonegap-version" value="3.3.0" />

        <name>Photo</name>

        <description>
        A Selfie App 
        </description>
		
        <author href="http://yoursite.com" email="you@youremail.com">
        Andreas
        </author>
		
		<gap:plugin name="org.apache.cordova.camera" version="0.2.4" />
		<gap:plugin name="nl.x-services.plugins.videocaptureplus" version="1.2" />

    </widget>